<!DOCTYPE html>
<meta name="http-equiv" content="Content-type: text/html; charset=UTF-8">
<html>
<head>
    <title>
        Конструктор педагогических целей
    </title>
    <!--<meta charset="utf-8" />-->
    <title></title>
    <script src="vue.js"></script>
    <script src="generatedfromexcel.js" charset="windows-1251"></script>
    <script src="aboutconstructor.js" charset="windows-1251"></script>
    <script src="tools.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="design/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div align="center">
        <h2 style="align-content:center; color:whitesmoke">Конструктор «ЦЕЛЬ ПРОФЕССИОНАЛЬНОГО РАЗВИТИЯ»</h2>
    </div>

    <div id="app" style="color: whitesmoke">

        <button style="margin-left:3%" v-for="(page, index) in pages" v-on:click="activePage = index">
            {{page.title}}
        </button>

        <div id="page0" style="margin-left:5%" class="row" v-if="activePage == 0">
            <p v-for="line in pages[0].data">{{line}}</p>
        </div>

        <div id="page1" v-if="activePage == 1">
            <div align="center">
                <h3 style="position:center">
                    Выберите предмет:
                </h3>

                <select id="subjectSelect" style="position:center; text-align:center" v-model="chosenSubject">
                    <option v-for="subject in subjects" v-bind:value="subject">{{subject}}</option>
                </select>
                >
            </div>

            <div align="center" v-if="chosenSubject">
                <h3 style="position:center">Выберите уровень педагогического мастерства: </h3>

                <select id="levelSelect" style="position:center; text-align:center" v-model="chosenLevelIndex">
                    <option v-for="(level, index) in levels" v-bind:value="index">{{level.level}}</option>
                </select>

            </div>
            <table class="table" style="color: whitesmoke">
                <tbody>
                    <tr v-if="chosenLevel">
                        <td>
                            <h3 style="position:center">Проблема</h3>
                        </td>
                        <td>
                            <select id="levelSelect" style="position:center; text-align:center" v-model="chosenProblem">
                                <option v-for="problem in problems" v-bind:value="problem">{{problem.problem}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr v-if="chosenProblem">
                        <td>
                            <h3 style="position:center">Методический инструмент</h3>
                        </td>
                        <td>
                            <select id="levelSelect" style="position:center; text-align:center" v-model="chosenMethod">
                                <option v-for="method in methods" v-bind:value="method">{{method}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr v-if="chosenMethod">
                        <td>
                            <h3 style="position:center">Инструмент ИКТ</h3>
                        </td>
                        <td>
                            <select id="levelSelect" style="position:center; text-align:center" v-model="chosenTool">
                                <option v-for="tool in tools" v-bind:value="tool">{{tool}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>



            <div position="center" v-if="chosenTool">
                <div>
                    <h2>{{formulatedAim}}</h2>
                </div>
                <h4>Индикаторы решения проблемы / достижения цели</h4>
                <ul>
                    <li v-for="indicator in indicators">
                        {{indicator}}
                    </li>
                </ul>
            </div>
        </div>

        <div id="page2" style="margin-left: 5%" class="row" v-if="activePage == 2">
            <table class="table" style="color: white">
                <thead>
                    <tr>
                        <td>Инструмент ИКТ</td>
                        <td>Описание</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="tool in pages[2].Itools">
                        <td>
                            {{tool.tool}}
                        </td>
                        <td>
                            <p v-for="line in tool.description">
                                {{line}}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <script src="VueModel.js" charset="windows-1251"></script>
</body>
</html>