body {
    background: #000 url(im.jpg); /* Фоновый цвет и фоновый рисунок*/
    color: white; /*Цвет текста на странице*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    min-width: 100%;
    min-height: 100%;
    background-size: 100%
}

p {
    justify-content: left;
    width: 80%;
    font-size: larger
}